{% extends 'base.html.twig' %}

{% block title %}USERS LIST!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Roles</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
{#               <td> {%for role in roles.name%}#}
{#                {{role}}#}
{#                {% endfor %}</td>#}
                <td>DELETE</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>
{% endblock %}
