<div id="formularz">
{{ form_start(form) }}
    <h1 id="new">Create new Report</h1>
    {{ form_widget(form) }}
    <button class="btn" id="savebtn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
